[submodule "TandenEngine/Source/Core/Math"]
	path = TandenEngine/Source/Core/Math
	url = https://github.com/tmcgillicuddy/nilsmath.git
[submodule "TandenEngine/Libraries/GLFW"]
	path = TandenEngine/Libraries/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "TandenEngine/Libraries/GLM"]
	path = TandenEngine/Libraries/GLM
	url = https://github.com/g-truc/glm.git
[submodule "TandenEngine/Libraries/imgui"]
	path = TandenEngine/Libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "TandenEngine/Libraries/stb"]
	path = TandenEngine/Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "TandenEngine/Libraries/tinyobjloader"]
	path = TandenEngine/Libraries/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader